<body style="margin-bottom:50px;margin-top:50px">
  <figure class="snip0057 red hover" style="box-shadow: rgb(38, 57, 77) 0px 30px 50px -10px;">
    <figcaption>
      <h2>Travelola <span>Member</span></h2>
      <p>
        <strong>Fullname:</strong> {{ currentUser.firstName + " " + currentUser.lastName }}
      </p>
      <p>
        <strong>Email:</strong> {{ currentUser.email }}
      </p>

      <p>
        <strong>Phone:</strong> {{ currentUser.phone }}
      </p>

     
    </figcaption> 
    <a href="/user-booking-history " class="history" title="See your booking history">Booking History</a>
    <div class="image"><img [src]="currentUser.imageUrl" alt="avata" class="img-card3" style="height: 600px;"></div>

    <div class="position"><button class="btn btn-danger btn-change"><a href="/update " title="Updata your information"> Update</a></button></div>
  <!-- <div class=" col-sm-6 btn-change-img text-left position" style="margin-top: -5%;"><a href="/upImage" title="Updata your Image"> Change Avata</a></div> -->
   
  </figure>

</body>
<app-footer></app-footer>