
<body>
  <figure class="snip0057 red hover" style="box-shadow: rgb(38, 57, 77) 0px 30px 50px -10px;">
    <figcaption >
      <h2 >Travelola <span >Member</span></h2>
      <p>
        <strong>Email:</strong> {{ currentUser.email }}
    </p>
    <p>
        <strong>Fullname:</strong> {{ currentUser.firstName + " " + currentUser.lastName }}
    </p>
    <p>
        <strong>Phone:</strong> {{ currentUser.phone }}
        <div class="position" ><button class="btn btn-danger btn-change" (click)="reload()">hjhj</button></div>
    <!-- </p> <div><button (click)="reloadUP()">view Data</button></div> -->
    <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
    </figcaption>
    <div class="image" ><img [src]="currentUser.imageUrl" alt="avata"  class="img-card3" style="height: 600px;"></div>
    
    <div class="position" ><button class="btn btn-danger btn-change"><a href="/update "> Update</a></button></div>

   
  </figure>
  
</body>