 <!-- <div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
        <h3>
            <strong>{{ currentUser.username }}</strong> Profile
        </h3>
    </header>
    <p>
        <strong>Token:</strong> {{ currentUser.accessToken.substring(0, 20) }} ... {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
    </p>
    <img [src]="currentUser.imageUrl" alt="" class="avatar">
    <p>
        <strong>Email:</strong> {{ currentUser.email }}
    </p>
    <p>
        <strong>Fullname:</strong> {{ currentUser.firstName + " " + currentUser.lastName }}
    </p>
    <p>
        <strong>Phone:</strong> {{ currentUser.phone }}
    </p>
    <strong>Roles:</strong>
    <ul>
        <li *ngFor="let role of currentUser.roles ">
            {{ role }}
        </li>
    </ul>
</div> -->

<ng-template #loggedOut>
    Please login.
</ng-template> 

  <body>
  <div class="container">
    <div class="card">
      <h2 class="fa fa-user title">  Infomation</h2>
      <div class="info">

        <p>
            <strong>Email:</strong> {{ currentUser.email }}
        </p>
        <p>
            <strong>Fullname:</strong> {{ currentUser.firstName + " " + currentUser.lastName }}
        </p>
        <p>
            <strong>Phone:</strong> {{ currentUser.phone }}
        </p>
      </div>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      <div class="circle center">
        <img [src]="currentUser.imageUrl" alt="" class="circle">
      </div>
    </div>
    <div class="card card2">
      <h1 class="fa fa-cog title"> Setting</h1>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
     
    </div>
    <div class="card card3">
      <h3 class="fa fa-edit title "> Update Image</h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>

    </div>
    
  </div>
  </body>
