<div class="row">
    <app-navbar></app-navbar>
    <div class="col-sm-8 board-main">
        <div class="form-group">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>roles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.firstName}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phone}}</td>
                        <!-- get role to users -->
                        <td>
                            <span *ngFor="let role of user.roles">
                                {{role.name}}
                            </span>
                        </td>
                    </tr>
            </table>

        </div>

        <div class="position"><button class="btn btn-danger btn-change" (click)="showAll()">showAll</button></div>

    </div>
</div>

<Script>
</Script>