
<div class="col-sm-2">
  <div id="wrapper" class="wrapper-content">
    <div id="sidebar-wrapper" style="height: 100%; ">
      <ul class="sidebar-nav parent-list">
        <li class="sidebar-brand" routerLinkActive="active">
          <a href="/home">
            LoLa.com
          </a>
        </li>

        <li routerLinkActive="active " class="parent-item"  *ngIf="showAdminBoard">
          <a id="demo">All Accout</a>
          <ul class="child-item">
            <li routerLinkActive="active">
              <a href="/alladmin">Admin</a>
            </li>
            <li routerLinkActive="active">
              <a href="/allhotel">Hotel</a>
            </li>
            <li routerLinkActive="active">
              <a href="/alluser">User</a>
            </li>
          </ul>
        </li>

        <li routerLink="active" *ngIf="showModeratorBoard">
          <a href="/room-hotelID">All Room</a>
        </li>
        <li routerLinkActive="active">
          <a href="/hotel-service" *ngIf="showModeratorBoard">Service</a>
        </li>
        <li routerLinkActive="active">
          <a href="/rooms" *ngIf="showModeratorBoard">Add New Room</a>
        </li>
        <li routerLinkActive="active">
          <a href="/guest-booking" *ngIf="showModeratorBoard">Guest Booking</a>
        </li>
        <li routerLinkActive="active"> 
          <a href="/guested" *ngIf="showModeratorBoard">Guested</a>
        </li>
        


      </ul>
    </div>
  </div>

</div>