
<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-7 col6">
            <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate enctype="multipart/form-data" class="form">
                <h1 class="form-title">Your new Post</h1>
                <!-- title -->
                <div class="form-group">
                    <label for="title">Title</label>

                    <input type="text" class="form-control" name="title" [(ngModel)]="title" [ngModelOptions]="{standalone: true}" required minlength="3" maxlength="200"  />
                </div> 
                <!-- description -->
                <div class="form-group">
                    <label for="username">Description</label>

                    <input type="text" class="form-control" name="description" [(ngModel)]="description" [ngModelOptions]="{standalone: true}" required minlength="3" maxlength="5000"  />
                </div>
                <!-- content -->
                <div class="form-group">
                    <label for="content">Content</label>
                    <input type="text" class="form-control" name="content" [(ngModel)]="content" [ngModelOptions]="{standalone: true}" required minlength="8"  />

                </div>
                <!-- userId -->
                <div class="form-group" style="display:none">
                    <label for="email">userId</label>
                    <input type="email" class="form-control" name="userId" [(ngModel)]="userId" [(ngModel)]="id"   value="{{id}}" placeholder="{{id}}" [ngModelOptions]="{standalone: true}" required   />

                </div>
                
                <!-- imageUrl -->
                <div class="form-group">
                    <label for="images">ImageUrl</label>
                    <input type="file" class="form-control" name="imageUrl"  (change)="onFileSelected($event)" [(ngModel)]="imageUrl" [ngModelOptions]="{standalone: true}" required  />
               
                </div>


                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit" (click)="onUpload()" >Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>
