.container{
    margin-top: 100px;
    
    margin-bottom: 100px;

}
.col6{
    border-radius: 3%;
    border: solid 0.5px rgb(209, 183, 183);
    box-shadow: 2px 5px 10px gray;
    min-height: 700px;

    width: 100%;
}
.form{
    margin-top: 60px;
}
.form-group{
    margin-bottom: 30px;
    width: 95%;
    margin-left: 2%;
}
.btn-block{
    margin-top: 100px;
    margin-left: 25%;
    width: 50%;
}
.form-title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    
}