.container{
    margin-top: 100px;
    
    margin-bottom: 100px;

}
.col6{
    box-shadow: 5px 5px 20px gray;
    border-radius: 3%;
    min-height: 700px;
    
    width: 80%;
}
.form{
    margin-top: 60px;
}
.form-group{
    margin-bottom: 30px;
    width: 95%;
    margin-left: 2%;
}
.btn-block{
    margin-top: 100px;
    margin-left: 25%;
    width: 50%;
}
.form-title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    
}