<div class="row">
    <app-navbar></app-navbar>   
    <div class="col-sm-8 board-main">
        <div class="form-group">
            <div class="col-sm-12">
                <h1 class="account-header"> All Hotel in TRAVELOLA</h1>
                <!-- <div  class="search">
                    <input class="form-control search" type="text"  placeholder="Search User" name="username" (keyup)="searchUser($event)">
                  </div> -->
                <table>
                    <thead>
                        <tr class="Col-space">
                         
                            <th>id</th>
                            <th>HotelName</th>
                            <th>Location</th>
                            <th>Email</th>
                            <th>Phone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of hotel">
                           
                            <td>{{user.id}} </td>
                            <td >{{user.hotelName}}</td>
                            <td>{{user.location.province.name}}</td>
                            <td id="form-in4" onclick="myFunction()">{{ user.email }}</td>
                            <td>{{ user.phone }}</td>
                            <!-- get role to users -->
                            <td>
                                <span *ngFor="let role of user.roles">
                                    {{ role.name }}
                                </span>
                            </td>
         
                            <td *ngIf="user.status == true"  >
                                
                                <button *ngIf="user.account.status==true" class="btn btn-success btn-in4" (click)="Look($event)" value=" {{user.account.id}}">Look</button>
                                <button *ngIf="user.account.status==false" class="btn btn-danger btn-in4" (click)="unLook($event)" value=" {{user.account.id}}">UnLook</button>
                            </td>
                            <td *ngIf="user.status == false" > 
                                <button class="btn btn-danger btn-in4" (click)="no(user)">No Accepted</button>
                                
                            </td>
                            <td *ngIf="user.status == false" > 
                                <button class="btn btn-primary btn-in4" (click)="yes(user)">Accepted</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<Script> 
    function morein4(){
        document.getElementsByClassName( "form-in4" ).style.width="200px";
    }
    function myFunction() {
  document.getElementById("form-in4").innerHTML = "YOU CLICKED ME!";
}
    // $(document).on("morein4", function () {
    //     if ($(morein4).onclick) {
    //       $("form-in4").AddClass("resiz");
    //     }
    //   });
</Script>