<!-- <script type="text/javascript" src="../jQuery/jQuery-2.1.3.min.js"></script> -->

<div class="in-main">
    <img class="background-img" src="//pbs.twimg.com/media/DNWuPtIVwAAU0OJ.jpg" alt="img" />

    <div class="row">



        <div class="row sig-up" style="margin-top: 75px;">
            <div class="col-sm-2"></div>
            <div class="col-md-4 hello">
                <div class="container">
                    <Div class=""><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                        <h1 style="text-align: center; font-size: 50px; color:
                            wheat;">Hello Friend!</h1><br />
                        <div style="text-align: center;font-size: 20px"> To register, please fill out the form on the right hand.

                            <div style="text-align: center;font-size: 20px">Accurate information will help your hotel get noticed by more people</div>
                            <Div>Thanks you!</Div>
                        </div><br /><br /><br /><br />
                        <Div style="text-align: center;"> ---Travelola With Love---
                        </Div>

                    </Div>

                </div>
            </div>
            <div class="col-md-4" style="border-radius: 5%;">

                <div class="card card-container">
                    <img id="profile-img" src="//cdn-icons-png.flaticon.com/512/1222/1222178.png?w=360" alt="img/profile" class="profile-img-card" />
                    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate enctype="multipart/form-data">
                        <!-- hotelName -->
                        <div class="form-group row" >
                            <div class="col-md-6">
                                <label for="hotelName">HotelName</label>
                            </div>
                            
                            <div class="col-md-6 text-right required">
                                <div *ngIf="!hotelName " >*</div>
                                <div *ngIf="hotelName.length < 3 && hotelName.length >0">*At least 3 characters</div>
                                <div *ngIf="hotelName.length >=40"> *Max 40 characters </div>
                            </div>
                            <input type="text" class="form-control" name="hotelName"   [(ngModel)]="hotelName" [ngModelOptions]="{standalone: true}" required minlength="3" maxlength="40"  />
                        </div>

                        <!-- username -->
                        <div class="form-group row" >
                            <div class="col-md-6">
                                <label for="username">UserName</label>
                            </div>
                            
                            
                            <div class="col-md-6 text-right required">
                                <div *ngIf="!username " >*</div>
                                <div *ngIf="username.length < 3 && username.length >0">*At least 3 characters</div>
                                <div *ngIf="username.length >=40"> *Max 40 characters </div>
                            </div>
                           
                           
                            
                            <input type="text" class="form-control" name="username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" required minlength="3" maxlength="40"  />
                        </div>
                        <!-- password -->
                        <div class="form-group row" >
                            <div class="col-md-6">
                               <label for="password">Password</label> 
                            </div>
                            
                            
                            <div class="col-md-6 text-right required">
                                <div *ngIf="!password " >*</div>
                                <div *ngIf="password.length < 3 && password.length >0">*Password At least 3 characters</div>
                                <div *ngIf="password.length >=20"> * Password Max 20 characters </div>
                            </div>
                            <input type="password" class="form-control" name="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required minlength="8"  />
              
                            
                        </div>
                        
                            
                           
                       
                        <!-- email -->
                        <div class="form-group row" >
                            <div class="col-md-6">
                               <label for="email">Email</label>
                            </div>
                            
                            <div class="col-md-6 text-right required">
                                <div *ngIf="!email " >*</div>
                                <div *ngIf="email.length < 8 && email.length >0">* At least 3 characters</div>
                             
                            </div>

                            <input type="email" class="form-control" name="email" email [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required   />
                        </div>
                     
                        <!-- phone -->
                        <div class="form-group row" >
                            <div class="col-md-6">
                               <label for="phone">Phone</label>
                            </div>
                            
                            <div class="col-md-6 text-right required">
                                <div *ngIf="!phone " >*</div>
                                <div *ngIf="phone.length < 8 && phone.length >0">*Phone at least 8 characters</div>
                                <div *ngIf="phone.length >=12"> * Phone max 12 characters </div>
                            </div>
                            <input type="number" class="form-control" name="phone" [(ngModel)]="phone" [ngModelOptions]="{standalone: true}" required minlength="8" maxlength="12" />
                        </div>
                        
                        <!-- contactName -->
                        <div class="form-group row" >
                            <div class="col-md-6">
                              <label for="contactName">ContactName</label>
                            </div>
                            
                            <div class="col-md-6 text-right required">
                                <div *ngIf="!contactName " >*</div>
                                <div *ngIf="contactName.length < 2 && contactName.length >0">*Contact Name at least 2 characters</div>
                                <div *ngIf="contactName.length >=40"> * Contact Name max 40 characters </div>
                            </div>
                            <input type="text" class="form-control" name="contactName" [(ngModel)]="contactName" [ngModelOptions]="{standalone: true}" required minlength="2" maxlength="40"  />
                        </div>
                       

                        <!-- description -->
                        <div class="form-group row" >
                            <div class="col-md-6">
                             <label for="description">Description</label>
                            </div>
                            
                            <div class="col-md-6 text-right required">
                                <div *ngIf="!description " >*</div>
                                <div *ngIf="description.length < 2 && description.length >0">*Description at least 2 characters</div>
                                <div *ngIf="description.length >=40"> * Description max 40 characters </div>
                            </div>
                            <input type="text" class="form-control" name="description" [(ngModel)]="description" [ngModelOptions]="{standalone: true}" required   minlength="2" maxlength="40" />
                            </div>
                       

                        <!-- province -->
                        <div class="form-group row" >
                            <div class="col-md-6">
                              <label for="Province">Province</label>
                            </div>
                            <div class="col-md-6 text-right required">
                            <div *ngIf="!province " >*</div>
                            </div>
                            <select name="province" id="Province" (change)="changeDistrict($event)" [(ngModel)]="province" [ngModelOptions]="{standalone: true}" class="form-control" required>
                                    <option value="">--Province--</option>
                                    <option *ngFor="let pro of provin"  value={{pro.id}}  >
                                        {{ pro.name }}
                                    </option>
                                </select>
                       </div>   

                        <!-- district -->
                        <div class="form-group row" >
                            <div class="col-md-6">
                              <label for="district">District</label>
                            </div>
                            <div class="col-md-6 text-right required">
                            <div *ngIf="!district " >*</div>
                            </div>
                            <select name="district" id="Districts" class="form-control" (change)="changeWard($event)" [(ngModel)]="district" [ngModelOptions]="{standalone: true}" required>
                                <option value="">--District--</option>
                                <option *ngFor="let d of dis" value="{{d.id}}" >

                                     {{d.name}}
                                    <!-- <p *ngFor="let d of disI">
                                        {{d.name}}
                                    </p> -->
                                    
                                </option>
                            </select>

                        </div>

                        <!-- ward -->
                        <div class="form-group row" >
                            <div class="col-md-6">
                               <label for="ward">Ward</label>
                            </div>
                            <div class="col-md-6 text-right required">
                           
                            <div *ngIf="!ward " >*</div>
                            </div>
                            <select name="ward" id="Ward" class="form-control" required [(ngModel)]="ward" [ngModelOptions]="{standalone: true}">
                                <option value="">--Ward--</option>
                                <option *ngFor="let c of d" value="{{c.id}}" >

                                     {{c.name}}
                                    <!-- <p *ngFor="let d of disI">
                                        {{d.name}}
                                    </p> -->
                                    
                                </option>
                            </select>

                        </div>
                        <!-- street -->
                        <div class="form-group row" >
                            <div class="col-md-6">
                               <label for="ward">Street</label>
                            </div>
                            
                            <div class="col-md-6 text-right required">
                                <div *ngIf="!street " >*</div>
                                <div *ngIf="street.length < 2 && street.length >0">*Street at least 2 characters</div>
                                <div *ngIf="street.length >=40"> * Street max 40 characters </div>
                            </div>
                            <input type="text" class="form-control" name="street" [(ngModel)]="street" [ngModelOptions]="{standalone: true}" required minlength="2" maxlength="40"/>
                        </div>

                        <!-- imgHotel -->
                        <div class="form-group row" >
                            <div class="col-md-6">
                                <label for="images">Image</label>
                            </div>
                            <div class="col-md-6 text-right required">
                            <div *ngIf="!images " >*</div>
                            </div>
                            <input type="file" class="form-control" name="images"  (change)="onFileSelected($event)" [(ngModel)]="images" [ngModelOptions]="{standalone: true}" required  />
                       
                        </div>
       

                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit" (click)="onUpload()" >Submit</button>
                        </div>
                        <div class="return-sigup go-to-login">
                            You have an account? <a href="/login">Login</a>
                        </div>


                        <div class="alert alert-warning" *ngIf="f.submitted &&
                            isSignUpFailed">
                            Signup failed!<br />{{ errorMessage }}

                        </div>
                    </form>

                    <div *ngIf="isSuccessful">
                        <div class="alert alert-success">Your registration is successful!
                        </div>
                        <div class="btn btn-success login-form"><a href="/login">Login</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>