.y{
    height:150px;
    background-color: white;
    border: none;
    color: green;
}
.x{
    height:150px;
    background-color: white;
    border: none;
    color: gray;
}
.container{
    margin-top: 50px;
    margin-bottom: 100px;
}
.fb{
    /* background-color: #3b5998; */
    border: solid 1px grey;
    color: white;

    width: 300px;
    height: 300px;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.d-inline-flex{
    color: yellowgreen;

    /* background-color: yellow; */
}
.d-inline-flex .visually-hidden{
 border: solid;
}
.input-fb{
    margin-bottom: 20px;
    width: 200px;
    height: auto;
}