.board-main{
    background-color: white;
    min-height: 500px;
    max-height: auto;
    
}
.trans{
 
}
.bckcolor{
    background-color: rgba(215, 177, 218, 0.301)
    /* background-color: rgb(241, 239, 233); */
}
