<div class="container">


  <h3>Using CSS to style an HTML Form</h3>
  <form name="form" (ngSubmit)="f.form.valid && onUpdate()" #f="ngForm" novalidate>


    <!-- firstname -->
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" name="firstName" [(ngModel)]="form.firstName" required minlength="1"
        maxlength="20" #firstName="ngModel" />
      <div class=" div-errors" *ngIf="firstName.errors && f.submitted">
        <div *ngIf="firstName.errors['required']">*First Name is required</div>
        <div *ngIf="firstName.errors['minlength']">
          *First Name must be at least 1 characters
        </div>
        <div *ngIf="firstName.errors['maxlength']">
          *First Name must be at most 20 characters
        </div>
      </div>
    </div>
    <!-- lastname -->
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" name="lastName" [(ngModel)]="form.lastName" required minlength="1"
        maxlength="20" #lastName="ngModel" />
      <div class=" div-errors" *ngIf="lastName.errors && f.submitted">
        <div *ngIf="lastName.errors['required']">*Last Name is required</div>
        <div *ngIf="lastName.errors['minlength']">
          *Last Name must be at least 1 characters
        </div>
        <div *ngIf="lastName.errors['maxlength']">
          *LastName must be at most 20 characters
        </div>
      </div>
    </div>

    <!-- email -->
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email #email="ngModel" />
      <div class="div-errors" *ngIf="email.errors && f.submitted">
        <div *ngIf="email.errors['required']">*Email is required</div>
        <div *ngIf="email.errors['email']">
          *Email must be a valid email address
        </div>
      </div>
    </div>
    <!-- phone -->
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" name="phone" [(ngModel)]="form.phone" required minlength="8" maxlength="20"
        #phone="ngModel" />
      <div class="div-errors" *ngIf="phone.errors && f.submitted">
        <div *ngIf="phone.errors['required']">*Phone is required</div>
        <div *ngIf="phone.errors['minlength']">
          *Phone must be at least 8 characters
        </div>
        <div *ngIf="phone.errors['maxlength']">
          *Phone must be at most 20 characters
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="position" ><button class="btn btn-danger btn-change" (click)="onUpdate()">Update</button></div>
    </div>
    <div class="form-group">
      <input type="file" id="file-upload" required/>
    </div>
    <!-- <img [src]="getLinkPicture()" alt="profile photo" width="150px" height="150px"> -->

    <div class="alert alert-warning" *ngIf="f.submitted ">s
      Update failed!<br />

    </div>
    <div *ngIf="isSuccessful ==true"></div>
  </form>
  <hr>
</div>
<Script>
  const fileUpload = document.querySelector("#file-upload");
  fileUpload.addEventListener("change", (event) => {
	const { files } = event.target;
	
	console.log("files", files)
})
</Script>