
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.row-chose{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 300px;
}
.img-update{
    max-height: 150px;
    max-width: 150px;
}
.formm{
  margin-top: 100px;
  margin-bottom: 100px;
  width: 40%;
  box-shadow: 5px 5px 20px gray;
  height: 600px;
  border-radius: 30px;
}
.form-group{ 
  padding-top: 0%;
}
.form-img{
  margin-top: 5%;
  margin-bottom: 5%;
}
.btn-upload-avt{
  border: gray;
  background-color: rgb(30, 184, 30);
  border-radius: 3%;
}
.form-upload-avt{
  margin-top: 30px;
  margin-left: 20px;
}
.col5{
  height: 180px;
  font-size: 18px;
  margin-top: 200px;
  width: 350px;
  box-shadow: 5px 5px 20px gray;
  border-radius: 3%;
  margin-bottom: 200px;
}
.form-pass{
  margin-bottom: 200px;
  /* border: solid 0.5px rgb(209, 183, 183); */
  /* box-shadow: 5px 5px 20px gray; */
  border-radius: 3%;
  text-align: center;
  margin-top: 20%;
}
.row-pass{
 
  height: 400px;
  margin-top: 5%;
  margin-bottom: 5%;  
  box-shadow: 5px 5px 20px gray;
  border-radius: 3%;
}
.form-input{
 
}
.choose-event{
  margin-top: 150px;
  margin-bottom: 100px;

  box-shadow: 5px 5px 20px gray;
  border-radius: 3%;
  
}
.choose-change{
  margin-top: 100px;

}

.btn-change{
margin-left: 5%;
  border-radius: 2%;
  text-transform: capitalize;
  float: right;
  margin-right: 50px;
  margin-top: 50px;
  color: rgb(250, 250, 250);
  font-size: 20px;
}
.btn-choose{
  margin-left: 5%;
  border-radius: 2%;
  text-transform: capitalize;
  float: right;
  margin-right: 50px;
  
  font-size: 20px;
}
.hover-4 {
  border: 8px solid;
  border-image: repeating-linear-gradient(135deg,#F8CA00 0 10px,#E97F02 0 20px,#BD1550 0 30px) 8;
  -webkit-mask: 
    conic-gradient(from 180deg at top 8px right 8px, #0000 90deg,#000 0)
     var(--_i,200%) 0  /200% var(--_i,8px) border-box no-repeat,
    conic-gradient(at bottom 8px left  8px,  #0000 90deg,#000 0)
     0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
  transition: .3s, -webkit-mask-position .3s .3s;
}
.hover-4:hover {
  --_i: 100%;
  color: #CC333F;
  transition: .3s, -webkit-mask-size .3s .3s;
}