
@import url('http://fonts.googleapis.com/icon?family=Material+Icons');
.in4city{
  border: solid;
  background-color: white;
  width: 100%;
  height: 100%;
  position: relative ;

}
.name-city{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 2%;
  font-weight: 400;
  color: #000;
  margin-top: 15px;
  font-size: 20px;

}
.name-city button:hover{
  color: #1846dd;
}
.img-city{
  height: 250px;
  width: auto;
  /* position: absolute; */
  display: block;
}


.hotel-id-name{
  /* position: relative; */
  color: white;
  padding-bottom: 5%;
}
.hotel-city{
  position: relative;
  color: white;
  text-transform: uppercase;
 
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 10%;

}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:  #20a9d6;;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.text {
  color: white;
  font-size: 20px;

  top: 40%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text:hover{
  color:aquamarine
}
.btn-city-link{
  background-color: #936BE80D;
  border: none;
  color: #000;
}
.contai {
  position: relative;
  /* min-height: 400px; */
  width: 374px;
  margin-left: 3%;
  margin-top: 5%;
  height: 250px;
}
.contai:hover .overlay {
  height: 100%;
  width: 94%;
  margin-left: 3%;
  border-radius: 3%;
  margin-bottom: 0%;
}
.img-hover-zoom img {
  transform-origin: 50% 65%;
  transition: transform 0.5s, filter 3s ease-in-out;
  filter: brightness(100%);
}

/* The Transformation */
.img-hover-zoom:hover img {
  /* filter: brightness(100%); */
  transform: scale(1.1);
}
.bckcolor{
  background-color: #936BE80D;
  height: 850px;
}
.text button{
  background-color: #20a9d6;
  border: none;
}
.post{
  /* margin-top: 50px; */
  margin-bottom: 100px;
  /* border: solid 0.1px #ddd; */
  border-radius: 20px;
  margin-left:100px;
  margin-top:80px;
}
.img-post{
  margin-top: 00px;
  height: 350px;
  width: auto;
  max-width: 300px;
  padding-left: 3%;
  position: relative;
  margin-bottom: 30px;
}

.user{
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 500;
  margin-left: 0px;
  margin-top: 10px;

}
.icon-user{
  background-color: white;
  cursor: pointer;
  border: solid 0.1px #ddd;
  font-size:25px;
  margin-left: 10px;
}
.like{
  border: solid 0.1px #ddd;
  font-size:25px;
  margin-left: 3%;
  margin-top: 5%;
  margin-bottom: 10%;
  color: #13baf1;
}
.like:hover{
  position: absolute;
  font-size: 200%;
  color: #20a9d6;
}
.title{
  margin-left: 50px;
  color: #777777;
  margin-top: 10px;
  width: 350px;
  /* word-wrap: break-word; */
  overflow: hidden;
  inline-size: 200px; 

}
.form-post{
  cursor: pointer;
}
.row-post{
  background-color: #936BE80D;
  /* margin-top: 20px; */
  margin-bottom: 20px;
}
/* .form-post:hover{
  height: 120%;
  width: 120%;
  position: absolute;
} */
.post-title{
  margin-top: 20px;
  text-transform: capitalize;
  font-weight: 500;
  margin-left: 20px;
  margin-bottom: -50px;
}
.btn-title{
  height: 50px;
  width: auto;
  background-color: rgb(213, 248, 237);
  border: darkgray;
  border-radius: 10px;
}
.btn-title:hover{
  background-color:greenyellow;
  border: darkgray;
  border-radius: 10px;
}
.hover {
  color: #0000;
  background: 
    linear-gradient(90deg,#1095c1 50%,#000 0) 
    var(--_p,100%)/200% no-repeat;
  -webkit-background-clip: text;
          background-clip: text;
  transition: .4s;
}
.hover:hover {
  --_p: 0%;
}

