<swiper [pagination]="pagination" class="mySwiper" [autoplay]="{
      delay: 3000,
      disableOnInteraction: false
    }" [centeredSlides]="true">
  [slidesPerView]="1"
  [spaceBetween]="30"
  [loop]="true"
  [effect]="'fade'"
  [navigation]="true"

  class="mySwiper"

  <ng-template swiperSlide><img src="assets/images/slide1.jpg" alt="">
  </ng-template>
  <ng-template swiperSlide><img src="assets/images/slide2.jpg" alt="">
  </ng-template>
  <ng-template swiperSlide><img src="assets/images/slide3.jpg" alt="">
  </ng-template>
  <ng-template swiperSlide><img src="assets/images/slide4.jpg" alt="">
  </ng-template>
  <ng-template swiperSlide><img src="assets/images/slide5.jpg" alt="">
  </ng-template>
  <ng-template swiperSlide><img src="assets/images/slide6.jpg" alt="">
  </ng-template>

</swiper>