.search{
    float: right;
    width: 60%;
}
.img-big{
  position:relative;
  object-fit: cover;
    width: 300px ;
    height:300px ;
}
.img-big-only{
  position:relative;
  object-fit: cover;
    width: 400px ;
    height:400px ;
}
.img-small{
  /* position: absolute; */
  object-fit: cover;
    width: 140px ;
    height:140px ;
    
    margin-top: 2%;
    margin-left: 10px;
}
.img-small2{
  /* position: absolute; */
  filter: brightness(50%);
  object-fit: cover;
  width: 142px ;
  height:142px ;
  margin-top: 1%;
  margin-left: 10px;
  margin-top: 110%;
  margin-left: -197%;
}
.img-more{
  filter: brightness(200%);
  position: absolute;
  color: white;
  font-size: 40px;
  margin-top: 140%;
  margin-left: -60%;
}
.all-img{
  width: 400px;
  margin-right: 5%;
}
.col7{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.lable{
  position: relative;
    padding: 16px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    margin-top: 3%;
    width: 100%;
}
.img{
    position: relative;
    float: left;
}

.in4{
  margin-left:70%;
    position: absolute;

   
}
.btn-book{
    float: right;
    top: 100%;
    overflow:auto;
}
.lable button{
    top: 50%;
    left: 100%;
}
.des {
    width: 240px; 
    border: 1px solid ;
    }
.description{
    display: block;
    word-break: break-word;
}
.services h5{
    font-size: 14px;
    text-transform: capitalize;
    margin-left: 5%;
}
.div-col-8{
    margin-top: 2%;
    margin-bottom: 5%;
}
.hotel{
    font-size: 16px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    border: none;
    background-color: none;
   
}
.hotels{
    width: 300px;
    text-overflow: ellipsis;
}

.success{
  margin-left: 35%;
    margin-top: 100px;
    border-radius: 3%;
    border: solid 0.5px rgb(209, 183, 183);
    box-shadow: 5px 5px 20px gray;
    height:350px;
    width: 500px;
    text-align: center;
    margin-bottom: 200px;

}
.icon{
   
    border: none;
    color: green;
    font-size: 80px;
}
.suc{
  /* margin-top: 15%; */
  font-size: 30px;
    
}
#form{
    margin-top: 100px;
    margin-bottom: 150px;
    border-radius: 3%;
    border: solid 0.5px rgb(209, 183, 183);
    box-shadow: 10px 10px 20px gray;
    width: 60%;
}
.infomation{
    padding-top: 3%;
    padding-left: 20px;
    padding-right: 20px;
}
.btn-block{
    width: 50%;
    margin-bottom: 5%;
    margin-top: 5%;
}
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Loader circles */
  .loader > span {
    background: #FAD000;
    border-radius: 50%;
    margin: 5rem 0.5rem;
    animation: bouncingLoader 0.6s infinite alternate;
  }
  
  .loader > span:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .loader > span:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  /* Define the animation called bouncingLoader. */
  @keyframes bouncingLoader {
    from {
      width: 0.1rem;
      height: 0.1rem;
      opacity: 1;
      transform: translate3d(0);
    }
    to {
      width: 1rem;
      height: 1rem;
      opacity: 0.1;
      transform: translate3d(0, -1rem, 0);
    }
  }
  
  /* OPTIONAL: Styles for the demo. */
  body {
    background: #aca9ca;
    padding: 2rem;
  }
  
  p {
    font: 1rem/1.45 "Operator Mono";
    color: #A599E9;
    text-align: center;
  }
  .formloader{
    margin-left: 100px;
    margin-top: 200px;
    margin-bottom: 200px;
    font-size: 20px;
    min-height: 400px;
  }
  .loginFalse{
    margin-top: 200px;
    margin-bottom:300px;
   
    font-size: 20px;
    color:rosybrown
}
.feedBck{
  margin-top:50px;
  margin-left: 2%;
  width: 500px;
}
.fb-g{
  margin-top: 50px;
  margin-left: 10%; 
  margin-right: 2%;
}
.userFb{
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
}
.hotelName{
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
}
.label-img{
  margin-top: 10px;
}
.view-img-big{
  object-fit: cover;
  margin-bottom: 30px;
  /* margin-top: 30px; */
  height: 600px;
  width: 1000px;
}
.view-img-nomal{
  object-fit: cover;
  margin-bottom: 30px;
  margin-top: -108%;
  margin-left: 101%;
  height: 200px;
  width: 400px;
}
.view-img-small2{
  object-fit: cover;
  margin-bottom: 30px;
  /* margin-top: 30px; */
  height: 200px;
  width: 200px;
}

@import "swiper/swiper-bundle.css";

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-slide{
  width: 100%;
  height: 500px;
  object-fit: contain;
  margin-bottom: 50px;
  margin-top: 10px;
}
.in4-viewRoom{
  margin-left: 20%;
  width: 60%;
  background-color: #999BE80D;
  margin-bottom:100px;
}
.form-submit{
  margin-left: 30%;
}
.price-total{
  font-size: 18px;
  font-weight: bold;
}
.row{
  width: 100%;
  margin-left: 0%;
}
.validate-form{
  color: red;
  font-size: 20px;
}
