
<div class="col-sm-2">
    <div id="wrapper" class="wrapper-content">
      <div id="sidebar-wrapper" style="height: 100%; ">
        <ul class="sidebar-nav parent-list">
          <li class="sidebar-brand" routerLinkActive="active">
            <a href="/admin">
              LoLa.com
            </a>
          </li>
          
          <li routerLinkActive="active "class="parent-item">
            <a href="/admin"  id="demo" onclick="myFunction()">All Accout</a>
            <ul class="child-item">
        
              <li routerLinkActive="active">
                <a href="/allhotel" >Hotel</a>
              </li>
              <li routerLinkActive="active">
                <a href="/alluser">User</a>
              </li>
            </ul>
          </li>
         
          <li routerLinkActive="active">
            <a href="/category">Category</a>
          </li>
          
          <li routerLinkActive="active">
            <a href="/dashboard">Dashboard</a>
            </li>
          <li routerLinkActive="active">
            <a href="/contac">Contact</a>
          </li>

        </ul>
      </div>
    </div>

  </div>

