
    <div class="container">
        <div class="row" *ngIf="post" >
            <div class="col-md-12 imgs">
                <img src="http://localhost:8080/api/auth/getImage/{{post.imageUrl}}" alt="" class="img">
            </div>

            <div class="col-md-12">
                <div ><i class="userName"> Author:  {{ post.user.username}}</i> <i class="createAt"> --  {{ post.createdAt}} </i></div>
                <div class="title">Title:{{post.user.title}}</div>
                <div class="description">Descriptin: {{post.description}}</div>
         
            </div>
        </div>

    </div>
    <app-footer></app-footer>
    