
.row{
    background-color: #936BE80D;
    margin-bottom: 100px;
    margin-top: 20px;
}
.img{
    margin-bottom: 30px;
    width:auto;
    
    max-height: 500px;
}
.userName{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    margin-left: 0px;
    margin-top: 10px;
}
.title{
    margin-left: 50px;
    color: #777777;
    /* margin-top: 10px; */
    width: 350px;
    /* word-wrap: break-word; */
    overflow: hidden;
    inline-size: 200px; 
  
  }
  .description{
    margin-left: 50px;
    margin-top: 10px;
  }
  .createAt{
    font-size: 12px;
    margin-left: 10px;

    
  }
  .imgs{
    text-align: center;
  }