
<div class="container-fluid">
    <app-slide></app-slide>
    <div class="container" >
        <div class="row">
            <div class="col-md-12">
                <div
                    style="font-weight: 400;text-align: center;font-size: 30px;
                    font-family:Arial, Helvetica, sans-serif;margin-top: 50px;" *ngIf="room">
                    All hotel in  {{room[0].location.province.name}}</div>
            </div>

            <div class="col-sm-3 col4">
                <img src="assets/images/avatar_hotline.png" alt=""
                    class="img-hotline">

                <div class="HOT">HOTLINE</div>
                <div class="hotline">1900 6886</div>
                <hr style="width: 100%;"><br><br>
                <ul data-url="sort" class="ul-list-item price-sort-sort
                    price-sort-filter type-price-sort">
                    <li> <label for="type-sort-1"> <input checked=""
                                data-role="none" type="radio" name="rad_sort"
                                id="type-sort-1" value="default"> Best variable
                        </label> </li>
                    <li> <label for="type-sort-2"> <input data-role="none"
                                type="radio" name="rad_sort" id="type-sort-2"
                                value="star-desc"> Sao class from high to low [5
                            ... 1] </label> </li>
                    <li> <label for="type-sort-3"> <input data-role="none"
                                type="radio" name="rad_sort" id="type-sort-3"
                                value="star-asc"> Sao class from low to high [1
                            ... 5] </label> </li>
                    <li> <label for="type-sort-4"> <input data-role="none"
                                type="radio" name="rad_sort" id="type-sort-4"
                                value="price-asc"> Prices go up </label> </li>
                    <li> <label for="type-sort-5"> <input data-role="none"
                                type="radio" name="rad_sort" id="type-sort-5"
                                value="price-desc"> Prices go down </label>
                    </li>
                </ul>

                <hr style="width: 100%;"><br><br>
                <h4>CATEGORY</h4>
                <ul data-url="categories" class="ul-list-item cat-filter
                    type-categories">
                    <li><label for="type-categories-1"><input type="checkbox"
                                id="type-categories-1" value="1">
                            Hotel</label></li>
                    <li><label for="type-categories-2"><input type="checkbox"
                                id="type-categories-2" value="2">
                            Tour</label></li>
                    <li><label for="type-categories-3"><input type="checkbox"
                                id="type-categories-3" value="1-1">
                            Resort</label></li>
                    <li><label for="type-categories-4"><input type="checkbox"
                                id="type-categories-4" value="1-2">
                            Villa</label></li>
                </ul>
                <hr style="width: 100%;"><br><br>
                <h4>Voucher</h4>
                <ul data-url="promo" class="ul-list-item price-promo-filter
                    type-price-promo">
                    <li><label for="type-price-promo-1">
                            <input type="radio" name="rad_price_promo"
                                id="type-price-promo-1" value="min-10"> Below
                            10%
                        </label>
                    </li>
                    <li><label for="type-price-promo-2"><input type="radio"
                                name="rad_price_promo"
                                id="type-price-promo-2" value="10-20"> 10% - 20%</label></li>
                    <li><label for="type-price-promo-3"><input type="radio"
                                name="rad_price_promo"
                                id="type-price-promo-3" value="20-30"> 20% - 30%</label></li>
                    <li><label for="type-price-promo-4"><input type="radio"
                                name="rad_price_promo"
                                id="type-price-promo-4" value="30-40"> 30% - 40%</label></li>
                    <li><label for="type-price-promo-5"><input type="radio"
                                name="rad_price_promo"
                                id="type-price-promo-5" value="40-max"> Above
                            40%</label></li>
                </ul>
                <hr style="width: 100%;"><br><br>
            </div>


            <div class="col-sm-8 col8" style="margin-left:2%">
                <div class="search">
                    <input class="form-control search" type="text"
                        placeholder="Search Rooms" (keyup)="search($event)">
                </div>
                <label class="lable" *ngFor="let item of room">
                    <div >
                        <p class="img">
                            <img
                                [src]="'http://localhost:8080/api/auth/getImage/'+
                                item.images[0].imagePath"
                                alt="avata" class="img-city">
                            <!-- <h4> Image{{item.images[0].imagePath}}</h4> -->
                        </p>
                        <div class="in4">
                            <h4> {{item.hotelName}}</h4>
                            <div *ngIf="sao">{{sao}}</div>
                            
                            <h4 class="fa fa-map-marker"> Hotel location:
                                {{item.location.district.name}},
                                {{item.location.province.name}}</h4>
                            <hr style="">
                            <h4 class="services">Services:
                                <h5 *ngIf="item.wifi ===true" class="services">.wifi</h5>
                                <h5 *ngIf="item.freeParking ===true">.freeParking</h5>
                                <h5 *ngIf="item.freeBreakfast ===true">.FreeBreakfast</h5>
                                <h5 *ngIf="item.petsAllowed ===true">.petsAllowed</h5>
                                <h5 *ngIf="item.hotTub ===true">.hotTub</h5>
                                <h5 *ngIf="item.swimmingPool ===true">.swimmingPool</h5>
                                <h5 *ngIf="item.gym ===true">.gym</h5>

                            </h4>
                            <!-- <h4 class="des"><h4 class="description"> {{item.description}}</h4></h4> -->
                            <button class="btn btn-primary btn-book"
                                (click)="bookrooms($event)" value="{{item.id}}">View Hotel</button>
                        </div>
                    </div>
                </label>








            </div>

        </div>
    </div>

   
</div>
<app-footer></app-footer>