<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="account-header">All Rooms in yours hotel</h1>
            <table >
              <thead >
                <tr >
                    <!-- <th>image</th> -->
                  <th>id</th>
                  <th>checkInDate</th>
                  <th>checkOutDate</th>
                  
                 
                  <th>totalPrice</th>
                  <th>paymentMethod</th>
                  <th>bookingCode</th>
                  <th>qrCode</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of usersID">
                    
                  <td>{{ item.id }}</td>
                  <td>{{item.checkInDate}}</td>
                  <td>{{ item.checkOutDate }}</td>
                  
                  
                  <td>{{ item.totalPrice }}</td>
                  <td>{{ item.paymentMethod }}</td>
                  <td>{{ item.bookingCode }}</td>
                  <td>
                    <img [src]="'http://localhost:8080/api/auth/getImage/'+item.qrCode" alt="avata" class="img-fluid img-qrCode">
                    
                  </td>
                  <td>
                    <button *ngIf="item.retired ==false"  class="btn btn-primary btn-in4" (click)="confirm($event)" value="{{ item.id }}">Confirm</button> 
                    <button *ngIf="item.retired ==false" class="btn btn-danger btn-in4" (click)="refuse($event)" value="{{ item.id }}">Refuse</button>
                    <button *ngIf="item.retired ==true  && item.status ==false" class="btn btn-success btn-in4" (click)="done($event)"value="{{ item.id }}">Done</button>
                    <button *ngIf="item.retired ==true" class="btn btn-warning btn-in4" (click)="report()"value="{{ item.id }}">Report</button>
                </td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>
