<div class="row">
    <app-navbar></app-navbar>   
    <div class="col-sm-8 board-main">
        <div class="form-group">
            <div class="col-sm-12">
                <h1 class="account-header"> All Service in your hotel</h1>
                <!-- <div  class="search">
                    <input class="form-control search" type="text"  placeholder="Search User" name="username" (keyup)="searchUser($event)">
                  </div> -->
                <table>
                    <thead>
                        <tr class="Col-space">
                            <th>paymentAtTheHotel</th>
                            <th>wifi</th>
                            <th>freeBreakfast</th>
                            <th>freeParking</th>
                            <th>petsAllowed</th>
                            <th>hotTub</th>
                            <th>swimmingPool</th>
                            <th>gym</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of rooms">
                            <td *ngIf="user.paymentAtTheHotel ==true"> <button (click)="change($event)" value="{{user.paymentAtTheHotel}}"  class=" fa fa-check btn-in4" ></button></td>
                            <td  *ngIf="user.paymentAtTheHotel  == false">   <button (click)="change($event)" value="{{user.paymentAtTheHotel}}"  class=" fa fa-times btn-in4" ></button></td>
                            <td *ngIf="user.wifi ==true"> <button (click)="change($event)" value="{{user.wifi}}"  class=" fa fa-check btn-in4" ></button></td>
                            <td  *ngIf="user.wifi  == false">   <button (click)="change($event)" value="{{user.wifi}}" class=" fa fa-times btn-in4" ></button></td>
                           
                            <td >{{user.freeBreakfast}}</td>
                            <td >{{user.freeParking}}</td>
                            <td >{{user.petsAllowed}}</td>
                            <td >{{user.hotTub}}</td>
                            <td >{{user.swimmingPool}}</td>
                            <td >{{user.gym}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
