<!-- <div> admin board</div>
<div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
</div> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <div id="wrapper" class="wrapper-content">
        <div id="sidebar-wrapper">
          <ul class="sidebar-nav">
            <li class="sidebar-brand" routerLinkActive="active">
              <a href="/admin">
                LoLa.com
              </a>
            </li>
            <li routerLinkActive="active">
              <a href="/admin">Dashboard</a>
            </li>
            <li routerLinkActive="active">
              <a href="#">Shortcuts</a>
            </li>
            <li routerLinkActive="active">
              <a href="#">Overview</a>
            </li>
            <li routerLinkActive="active">
              <a href="#">Events</a>
            </li>
            <li routerLinkActive="active">
              <a href="/about">About</a>
            </li>
            <li routerLinkActive="active">
              <a href="#">Services</a>
            </li>
            <li routerLinkActive="active">
              <a href="/contac">Contact</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <div class="col-sm-8">
      <div class="agile_top_w3_grids">
        <ul class="ca-menu">
          <li>
            <a href="#">

              <i class="fa fa-building-o" aria-hidden="true"></i>
              <div class="ca-content">
                <h4 class="ca-main">16,808</h4>
                <h3 class="ca-sub">New Companies</h3>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-user" aria-hidden="true"></i>
              <div class="ca-content">
                <h4 class="ca-main one">26,808</h4>
                <h3 class="ca-sub one">New Clients</h3>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-database" aria-hidden="true"></i>
              <div class="ca-content">
                <h4 class="ca-main two">29,008</h4>
                <h3 class="ca-sub two">New Projects</h3>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-tasks" aria-hidden="true"></i>
              <div class="ca-content">
                <h4 class="ca-main three">49,436</h4>
                <h3 class="ca-sub three">Old Projects</h3>
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-clone" aria-hidden="true"></i>
              <div class="ca-content">
                <h4 class="ca-main four">30,808</h4>
                <h3 class="ca-sub four">New Orders</h3>
              </div>
            </a>
          </li>
          <div class="clearfix"></div>
        </ul>

        <div class="agile_top_w3_post_sections">
          <div class="col-md-6 agile_top_w3_post agile_info_shadow" style="float: left; min-height: 100px;">
            <div class="img_wthee_post">
              <h3 class="w3_inner_tittle">Latest Report</h3>
              <div class="stats-wrap">
                <div class="count_info">
                  <h4 class="count">65,800,587 </h4><span class="year">Total Companies</span>
                </div>
                <div class="year-info">
                  <p class="text-no">20 </p><span class="year">This Year</span>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="stats-wrap">
                <div class="count_info">
                  <h4 class="count">2,690 </h4><span class="year">Total Companies</span>
                </div>
                <div class="year-info">
                  <p class="text-no">40 </p><span class="year">This Month</span>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="stats-wrap">
                <div class="count_info">
                  <h4 class="count">24,660 </h4><span class="year">Total Companies</span>
                </div>
                <div class="year-info">
                  <p class="text-no">30 </p><span class="year">This Week</span>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="stats-wrap">
                <div class="count_info">
                  <h4 class="count">1,204</h4><span class="year">Total Companies</span>
                </div>
                <div class="year-info">
                  <p class="text-no">10 </p><span class="year">This Day</span>
                </div>
                <div class="clearfix"></div>
              </div>

            </div>
          </div>
          <div class="col-md-6 agile_top_w3_post_info agile_info_shadow " style="float: right; height: 150%;">
            <div class="img_wthee_post1">
              <h3 class="w3_inner_tittle"> Flip Clock</h3>
              <div class="main-example">
                <div class="clock"></div>
                <div class="message"></div>

              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

    </div>
  </div>
</div>
<script>
  function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
  }

  function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
  }
</script>